<div class="text-right col-md-10" style="padding:25px;"><%= image_tag('headshot.jpg') %></div>

<div class="col-md-6"><p>Interested in looking at a particular home? Please give me your information below and I will get in touch to help you find your dream home. </p></div>
<div class="col-md-7">
  <script type="text/javascript" src="https://leads-capturer.futuresimple.com/embed.js?token=0c8cb6d2977a589f0c989153a52ca09c"></script>
</div>

<div class="col-md-5">
	<div><h3>Ryan Wheelright</h3></div>
	<div>Phone: </div>
	<div>Alt Phone: </div>
	<div>ryanwheelright@ownpinevalley.com</div>
	<h3><span class="label label-primary glyphicon "><a class="no-style" href="https://www.facebook.com/ryanwheelwrightalpine"> Facebook </a></span></h3>

	<h3><span class="label label-danger glyphicon "><a class="no-style" href="https://www.pinterest.com/ryanwheelwright/"> Pinterest </a></span></h3>

	<h3><span class="label label-info glyphicon "><a class="no-style" href="http://www.linkedin.com/in/ryanwheelwright"> LinkedIn </a></span></h3>

</div>