<%= render 'carousel' %>

<div class="row">
	<div class="col-md-12 text-left">
	<script charset="UTF-8" type="text/javascript" id="idxwidgetsrc-20164" src="http://ownpinevalley.idxbroker.com/idx/quicksearchjs.php?widgetid=20164"></script>
    </div>
</div>
<div class="row text-center">
	<div class="col-md-3 home-panel">
		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.<br />Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	</div>
	
	<div class="col-md-3 home-panel">
		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.<br />Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	</div>
	<div class="col-md-3 home-panel">
		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.<br />Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	</div>
	</div>
	</div>
</div>
